<div class="rounded dark:bg-gray-800 fixed w-64 h-full">
  <div class="text-center my-5">
    <div class="flex justify-center">
      <img class="w-40" srcset="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" alt="">
    </div>
  </div>
  <ul class="text-center mt-10 flex flex-col gap-5">
    <li *ngFor="let sidebarModelData of sidebarModel">
      <a [routerLink]="sidebarModelData.routerLink">{{sidebarModelData.name}}</a>
    </li>
    <!-- <li><a routerLink="list-products">Productos</a></li> -->
  </ul>
</div>
