<h1 class="mb-3">Productos</h1>

<div class="mb-5">
  <app-input-search 
    placeholder="Buscar producto"
    (textEvent)="changeSearchInput($event)"
  ></app-input-search>
</div>

<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">
          Nombre
        </th>
        <th scope="col" class="py-3 px-6">
          Descripcion
        </th>
        <th scope="col" class="py-3 px-6">
          Categoria
        </th>
        <th scope="col" class="py-3 px-6">
          Precio
        </th>
        <th scope="col" class="py-3 px-6 w-48">
          Opciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white dark:bg-gray-800" *ngFor="let product of products">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{product.name}}
        </th>
        <td class="py-4 px-6">
          {{product.description}}
        </td>
        <td class="py-4 px-6">
          {{product.category.name}}
        </td>
        <td class="py-4 px-6">
          {{product.price}} Bs.
        </td>
        <td class="py-4 flex gap-2">
          <button type="button" [class]="dataClass.buttonClass">Editar</button>
          <button type="button" [class]="dataClass.buttonClassDanger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-right mt-5">
    <button [class]="dataClass.buttonClass" routerLink="/dashboard/manage/new-product">Nuevo producto</button>
  </div>
</div>